#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 197, 172)
}

li {
    float: left;
}

li a {
    display: block;
    color:  rgb(104, 34, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:white
}

nav{
    margin-top: 15px;
}

#text1{
    color: white;
    font-size: 18px;
}
